.App {
  display: flex;
  flex-direction: column;
  font-family: 'Futura PT', sans-serif;
  color: #054279;
}
nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%; 
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #fffad6;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
}
.icon {
  width: 35px;
}
.logo {
  width: 200px;
}
.block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  padding: 15px;
  width: 100%; 
  top: 110px;
  overflow: hidden;
  background-color: #fffad6;
  font-family: 'Futura PT', sans-serif;
  color: #054279;
}
.dish-img {
  width: 400px;
}
.text {
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Futura PT', sans-serif;
  color: #054279;
  margin-top: 15%;
  margin-left: 2%;
}
.container-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Futura PT', sans-serif;
  color: #054279;
  background-color: #fffad6;
  margin-top: 8%;
}
.container-img {
  margin-top: 2%;
  margin-left: 2%;
}
.container-info {
  margin-left: 2%;
}
.container-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  padding: 15px;
  width: 100%; 
  top: 18%;
  overflow: hidden;
  background-color: #fffad6;
  font-family: 'Futura PT', sans-serif;
  color: #054279;
}
a {
  text-decoration: none;
  color: #d05f75;
}
.container-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
  flex-grow: 1;
  flex-basis: 16%;
  width: 500px;
}
.container-btn {
  top: 25%;
}
.container-profile {
  background-color: #fffad6;
  position: fixed;
  padding: 15px;
  width: 100%; 
  top: 15%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.log-btn {
  padding: 10px;
  border: none;
  background-color:  #d05f75;
  border-radius: 5px;
  color:white;
  font-weight: bolder;
  font-size: 20px;
  width: 250px;
  top: 30%;
}
.add-btn {
  padding: 10px;
  border: none;
  background-color:  #d05f75;
  border-radius: 5px;
  color:white;
  font-weight: bolder;
  font-size: 20px;
  width: 200px;
}
.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}
.category {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.selected-category {
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
}
.other-category {
  font-size: 23px;
}
.other-category:hover {
  font-size: 23px;
  color: #d05f75;
}
.container-control {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: solid 3px #d05f75;
  border-radius: 5px;
  color:#d05f75;
  background-color: transparent;
  width: 195px;
  height: 35px;
  padding: none;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 5%;
}
.change-btn {
  border: none;
  background-color: transparent;
  color: #d05f75;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
}
.cart-item {
  font-size: 20px;
}

@media all and (max-width: 850px) {
  
}

@media all and (max-width: 500px) {
  .link {
    padding: 5px 5px;
  }
  .logo {
    width: 150px;
  }
  .block {
    justify-content: space-evenly;
  }
  .icon {
    width: 25px;
  }
}